Choose Location,Time-slot booking.json
[{"id":"e05c0b4e.1f7ce","type":"tab","label":"Choose Location, Time-slot Booking","disabled":false,"info":""},{"id":"8255a62f.4c5c58","type":"comment","z":"e05c0b4e.1f7ce","name":"Choose Location","info":"","x":100,"y":60,"wires":[]},{"id":"f3a613ed.a5bd28","type":"comment","z":"e05c0b4e.1f7ce","name":"bus schedule","info":"","x":90,"y":400,"wires":[]},{"id":"14a1ec31.299944","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Route_no:a[i].Route_no,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Amount:(s.indexOf(dest)-s.indexOf(src))*5*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Bus Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["51e9a9f6.7f74e8","e3ea3b23.72df78","1ec94339.46f98d"]]},{"id":"1b335aa6.03435d","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":240,"y":500,"wires":[["14a1ec31.299944"]]},{"id":"69975b2a.7046fc","type":"comment","z":"e05c0b4e.1f7ce","name":"train schedule","info":"","x":90,"y":580,"wires":[]},{"id":"fb7f3cb8.962f28","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":300,"y":640,"wires":[["15b83d2f.9021eb"]]},{"id":"15b83d2f.9021eb","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Route_no:a[i].Route_no,Amount:(s.indexOf(dest)-s.indexOf(src))*5*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Train Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["b2b68b0c.0b94d","db712137.84da38","1ec94339.46f98d"]]},{"id":"2613eb51.4247c4","type":"comment","z":"e05c0b4e.1f7ce","name":"metro schedule","info":"","x":100,"y":740,"wires":[]},{"id":"ac61ff9f.3c76d","type":"cloudant in","z":"e05c0b4e.1f7ce","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_all_","design":"","index":"","x":340,"y":800,"wires":[["9700e384.a68548"]]},{"id":"9700e384.a68548","type":"function","z":"e05c0b4e.1f7ce","name":"relevant src, dest","func":"src = global.get(\"src\");\ndest = global.get(\"dest\");\nif(src==dest)\n{\n    msg.payload=\"Please Select Different Source and Destination\";\n}\nelse\n{\n    a = msg.payload;\n    b = []\n    for (i = 0; i < a.length; i++) \n    { \n        s = a[i].Stops\n        s=s[0].split(\",\")\n        if(s.includes(src) && s.includes(dest))\n         {\n          if(s.indexOf(src) < s.indexOf(dest))\n          {\n            d=a[i].Time.split(\".\");\n            t1={Hours:d[0],Minutes:d[1].slice(0,d[1].length-2),Phase:d[1].slice(d[1].length-2)};  \n            t1.Minutes=String(parseInt(t1.Minutes)+(s.indexOf(src)*5));\n            if(parseInt(t1.Minutes)>60)\n            {\n               t1.Hours=String(parseInt(t1.Hours)+1);\n               t1.Minutes=String(parseInt(t1.Minutes)-60);\n            }\n            if(parseInt(t1.Minutes)<10)\n            {\n                t1.Minutes=\"0\"+t1.Minutes;\n            }\n            if(parseInt(t1.Hours)>11)\n               {\n                 if(t1.Phase=='am')\n                 {\n                    t1.Phase='pm';\n                 }\n                 else if(t1.Phase=='pm')\n                 {\n                    t1.Phase='am';\n                 }\n               }\n            if(parseInt(t1.Hours)>12)\n            {\n               t1.Hours=String(parseInt(t1.Hours)-12);\n            }\n            if(parseInt(t1.Hours)<10 && t1.Hours!=d[0])\n            {\n                t1.Hours=\"0\"+t1.Hours;\n            }\n            a[i].Time=t1.Hours+\".\"+t1.Minutes+t1.Phase;\n            b.push({_id:a[i]._id,Time:a[i].Time,Source:src,Destination:dest,Route_no:a[i].Route_no,Seats:a[i].AvailableSeats,ReqSeats:global.get(\"npeople\"),Amount:(s.indexOf(dest)-s.indexOf(src))*10*global.get(\"npeople\")})\n          }\n        }\n    }\n    if(b.length===0){\n        msg.payload=\"No Metro Route/s Found\";\n    } \n    else{\n        msg.payload = b;\n    }\n}\nreturn msg","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["7d88c3f7.2e3b3c","1a51a4a0.89b9db","1ec94339.46f98d"]]},{"id":"51e9a9f6.7f74e8","type":"function","z":"e05c0b4e.1f7ce","name":"bus route found","func":"if(msg.payload!=\"No Bus Route/s Found\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["77a906dc.8766d8"]]},{"id":"e3ea3b23.72df78","type":"function","z":"e05c0b4e.1f7ce","name":"no bus route","func":"if(msg.payload==\"No Bus Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"6cb77601.aaa9a8","type":"function","z":"e05c0b4e.1f7ce","name":"choose src, dest","func":"msg.payload={tab:\"Choose Location\"};\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":420,"wires":[["b639e9bf.65aae8"]]},{"id":"b2b68b0c.0b94d","type":"function","z":"e05c0b4e.1f7ce","name":"train route found","func":"if(msg.payload!=\"No Train Route/s Found\")\n{\n  return msg;\n}","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["f5bc526e.e0f408"]]},{"id":"db712137.84da38","type":"function","z":"e05c0b4e.1f7ce","name":"no train route","func":"if(msg.payload==\"No Train Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"7d88c3f7.2e3b3c","type":"function","z":"e05c0b4e.1f7ce","name":"metro route found","func":"if(msg.payload!=\"No Metro Route/s Found\")\n{\n  return msg;\n}","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["dc41ae89.16615"]]},{"id":"1a51a4a0.89b9db","type":"function","z":"e05c0b4e.1f7ce","name":"no metro route","func":"if(msg.payload==\"No Metro Route/s Found\")\n{\n    msg.payload+=\". Redirecting You To Choose Source, Destination\";\n    return msg;\n}\nelse if(msg.payload==\"Please Select Different Source and Destination\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["6cb77601.aaa9a8","4cf56f8b.ad977"]]},{"id":"660ac869.61286","type":"function","z":"e05c0b4e.1f7ce","name":"bus global save","func":"global.set(\"bus_time\",msg.payload.Time);\nglobal.set(\"bus_route_no\",msg.payload.Route_no);\nglobal.set(\"bus_amount\",msg.payload.Amount);\nglobal.set(\"bus_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":540,"wires":[["ee54e6c4.2f28d8"]]},{"id":"2db220b4.584368","type":"function","z":"e05c0b4e.1f7ce","name":"train global save","func":"global.set(\"train_time\",msg.payload.Time);\nglobal.set(\"train_route_no\",msg.payload.Route_no);\nglobal.set(\"train_amount\",msg.payload.Amount);\nglobal.set(\"train_coach\",msg.payload.Coach);\nglobal.set(\"train_seats\",msg.payload.Seats);\nglobal.set(\"train_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":660,"wires":[["a9ec0b01.14bd6"]]},{"id":"8a0e8d0e.7f122","type":"function","z":"e05c0b4e.1f7ce","name":"metro global save","func":"global.set(\"metro_time\",msg.payload.Time);\nglobal.set(\"metro_route_no\",msg.payload.Route_no);\nglobal.set(\"metro_amount\",msg.payload.Amount);\nglobal.set(\"metro_coach\",msg.payload.Coach);\nglobal.set(\"metro_seats\",msg.payload.Seats);\nglobal.set(\"metro_record_id\",msg.payload.Id);\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["90e1b858.3f00b8"]]},{"id":"ef2232ca.1b731","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":600,"wires":[]},{"id":"548da77b.a8bb7","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":840,"wires":[]},{"id":"6cf2e182.00ad","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":720,"wires":[]},{"id":"ee54e6c4.2f28d8","type":"function","z":"e05c0b4e.1f7ce","name":"bus selected time","func":"var bus_time=global.get(\"bus_time\");\nmsg.payload=\"Selected Time: \"+bus_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":540,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"90e1b858.3f00b8","type":"function","z":"e05c0b4e.1f7ce","name":"metro selected time","func":"var metro_time=global.get(\"metro_time\");\nmsg.payload=\"Selected Time: \"+metro_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":780,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"a9ec0b01.14bd6","type":"function","z":"e05c0b4e.1f7ce","name":"train selected time","func":"var train_time=global.get(\"train_time\");\nmsg.payload=\"Selected Time: \"+train_time+\". Redirecting for Self-assessment.\";\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":640,"wires":[["b7b045cb.2ccee","b0fc7409.10f3c8","4505471.c7448b8"]]},{"id":"f09c1aee.9782c8","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1690,"y":600,"wires":[["b0361ef.1640fe"]]},{"id":"b0361ef.1640fe","type":"function","z":"e05c0b4e.1f7ce","name":"say hello","func":"msg.payload=\"Type 'hello' to start the assessment!\";\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":600,"wires":[["ccc54686.d81208"]]},{"id":"b1365035.4b8aa8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!==\"\" && global.get(\"dest\")!==\"\" && global.get(\"npeople\")!==\"\")\n{\n  var transport=global.get(\"transport\");\n  if(transport==\"Bus\")\n  {\n      msg.payload={tab:\"Bus Booking Schedule\"};\n      return msg;\n  }\n}\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["2984a1ba.2d6256","1b335aa6.03435d","a3554a94.1a995"]]},{"id":"43c9625b.b6982c","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!=\"\" && global.get(\"dest\")!=\"\" && global.get(\"npeople\")!=\"\")\n{\n  var transport=global.get(\"transport\");\n  if(transport==\"Train\")\n  {\n    msg.payload={tab:\"Train Booking Schedule\"};\n    return msg;\n  }\n}\n","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["2984a1ba.2d6256","fb7f3cb8.962f28","a3554a94.1a995"]]},{"id":"8aaf3e47.45ffb8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switching","func":"if(global.get(\"src\")!=\"\" && global.get(\"dest\")!=\"\" && global.get(\"npeople\")!=\"\"){\n  var transport=global.get(\"transport\");\n  if(transport==\"Metro\")\n  {\n    msg.payload={tab:\"Metro Booking Schedule\"};\n    return msg;\n  }\n}","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["2984a1ba.2d6256","ac61ff9f.3c76d","a3554a94.1a995"]]},{"id":"2f9bc7df.4e1948","type":"function","z":"e05c0b4e.1f7ce","name":"global destination","func":"if(msg.payload!==\"\")\n{\n    global.set(\"dest\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1350,"y":280,"wires":[[]]},{"id":"b0fc7409.10f3c8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"if(global.get(\"npeople\")==1)\n{\n    msg.payload={tab:\"Corona Symptom-Checker\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1680,"y":520,"wires":[["8446798e.b2a9c8","f09c1aee.9782c8"]]},{"id":"b639e9bf.65aae8","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":420,"wires":[["47ad103d.ee0358"]]},{"id":"c5411b05.3a2228","type":"function","z":"e05c0b4e.1f7ce","name":"global npassengers","func":"if(msg.payload!==\"\" && msg.payload>=1)\n{\n    global.set(\"npeople\",msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1970,"y":120,"wires":[[]]},{"id":"3fe343c.1565f3c","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"f92e480c.802278","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":120,"wires":[["b1365035.4b8aa8"]]},{"id":"2e3c041e.7e5b44","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"de9aa1f6.4af17","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["43c9625b.b6982c"]]},{"id":"cdf3c0c4.479e38","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"9852242d.c8ed78","order":4,"width":0,"height":0,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":240,"wires":[["8aaf3e47.45ffb8"]]},{"id":"17c1409.f90003f","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Bus Destination   ","tooltip":"","place":"Select Destination","group":"f92e480c.802278","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Ambegaon","value":"Ambegaon","type":"str"},{"label":"Atlas Company","value":"Atlas Company","type":"str"},{"label":"Aundh Gaon","value":"Aundh Gaon","type":"str"},{"label":"Aundh Road","value":"Aundh Road","type":"str"},{"label":"Bavdhan","value":"Bavdhan","type":"str"},{"label":"Bhosari","value":"Bhosari","type":"str"},{"label":"Bibwewadi","value":"Bibwewadi","type":"str"},{"label":"Body Gate","value":"Body Gate","type":"str"},{"label":"Chandni Chowk","value":"Chandni Chowk","type":"str"},{"label":"D-mart Hinjewadi","value":"D-mart Hinjewadi","type":"str"},{"label":"Gol Market","value":"Gol Market","type":"str"},{"label":"Govind Yashada Chowk","value":"Govind Yashada Chowk","type":"str"},{"label":"Hinjewadi Phase-1","value":"Hinjewadi Phase-1","type":"str"},{"label":"Hinjewadi Phase-2","value":"Hinjewadi Phase-2","type":"str"},{"label":"Hinjewadi Phase-3","value":"Hinjewadi Phase-3","type":"str"},{"label":"Jagtap Dairy","value":"Jagtap Dairy","type":"str"},{"label":"Kate Patil Chowk","value":"Kate Patil Chowk","type":"str"},{"label":"Katraj Talav","value":"Katraj Talav","type":"str"},{"label":"Katraj","value":"Katraj","type":"str"},{"label":"Kokane Chowk","value":"Kokane Chowk","type":"str"},{"label":"Kothrud","value":"Kothrud","type":"str"},{"label":"Landewadi Chowk","value":"Landewadi Chowk","type":"str"},{"label":"Manapa","value":"Manapa","type":"str"},{"label":"Mankar Chowk","value":"Mankar Chowk","type":"str"},{"label":"Mhasoba Gate","value":"Mhasoba Gate","type":"str"},{"label":"Nashik Phata","value":"Nashik Phata","type":"str"},{"label":"Navale Bridge","value":"Navale Bridge","type":"str"},{"label":"Pashan","value":"Pashan","type":"str"},{"label":"Pimple Saudagar Sai Complex","value":"Pimple Saudagar Sai Complex","type":"str"},{"label":"Pumping Station","value":"Pumping Station","type":"str"},{"label":"Pune Manapa Bus Station","value":"Pune Manapa Bus Station","type":"str"},{"label":"Pune Vidyapeeth Gate","value":"Pune Vidyapeeth Gate","type":"str"},{"label":"Rose Land Nisarg Nirmiti Society","value":"Rose Land Nisarg Nirmiti Society","type":"str"},{"label":"Shivaji Chowk","value":"Shivaji Chowk","type":"str"},{"label":"Sarasbaug","value":"Sarasbaug","type":"str"},{"label":"Shanivarwada","value":"Shanivarwada","type":"str"},{"label":"Shimla Office","value":"Shimla Office","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Shivaji Putla","value":"Shivaji Putla","type":"str"},{"label":"Sindh Colony","value":"Sindh Colony","type":"str"},{"label":"Suncity Stop","value":"Suncity Stop","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"V.I.T. College","value":"V.I.T. College","type":"str"},{"label":"Vadgaon Stop","value":"Vadgaon Stop","type":"str"},{"label":"Vishal Nagar","value":"Vishal Nagar","type":"str"},{"label":"Wakad Bridge","value":"Wakad Bridge","type":"str"},{"label":"Wakad Chowk","value":"Wakad Chowk","type":"str"},{"label":"Wakad Phata","value":"Wakad Phata","type":"str"},{"label":"Warje","value":"Warje","type":"str"}],"payload":"","topic":"","x":1020,"y":220,"wires":[["2f9bc7df.4e1948"]]},{"id":"9a140431.591828","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Bus Source    ","tooltip":"","place":"Select Source","group":"f92e480c.802278","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Ambegaon","value":"Ambegaon","type":"str"},{"label":"Atlas Company","value":"Atlas Company","type":"str"},{"label":"Aundh Gaon","value":"Aundh Gaon","type":"str"},{"label":"Aundh Road","value":"Aundh Road","type":"str"},{"label":"Bavdhan","value":"Bavdhan","type":"str"},{"label":"Bhosari","value":"Bhosari","type":"str"},{"label":"Bibwewadi","value":"Bibwewadi","type":"str"},{"label":"Body Gate","value":"Body Gate","type":"str"},{"label":"Chandni Chowk","value":"Chandni Chowk","type":"str"},{"label":"D-mart Hinjewadi","value":"D-mart Hinjewadi","type":"str"},{"label":"Gol Market","value":"Gol Market","type":"str"},{"label":"Govind Yashada Chowk","value":"Govind Yashada Chowk","type":"str"},{"label":"Hinjewadi Phase-1","value":"Hinjewadi Phase-1","type":"str"},{"label":"Hinjewadi Phase-2","value":"Hinjewadi Phase-2","type":"str"},{"label":"Hinjewadi Phase-3","value":"Hinjewadi Phase-3","type":"str"},{"label":"Jagtap Dairy","value":"Jagtap Dairy","type":"str"},{"label":"Kate Patil Chowk","value":"Kate Patil Chowk","type":"str"},{"label":"Katraj Talav","value":"Katraj Talav","type":"str"},{"label":"Katraj","value":"Katraj","type":"str"},{"label":"Kokane Chowk","value":"Kokane Chowk","type":"str"},{"label":"Kothrud","value":"Kothrud","type":"str"},{"label":"Landewadi Chowk","value":"Landewadi Chowk","type":"str"},{"label":"Manapa","value":"Manapa","type":"str"},{"label":"Mankar Chowk","value":"Mankar Chowk","type":"str"},{"label":"Mhasoba Gate","value":"Mhasoba Gate","type":"str"},{"label":"Nashik Phata","value":"Nashik Phata","type":"str"},{"label":"Navale Bridge","value":"Navale Bridge","type":"str"},{"label":"Pashan","value":"Pashan","type":"str"},{"label":"Pimple Saudagar Sai Complex","value":"Pimple Saudagar Sai Complex","type":"str"},{"label":"Pumping Station","value":"Pumping Station","type":"str"},{"label":"Pune Manapa Bus Station","value":"Pune Manapa Bus Station","type":"str"},{"label":"Pune Vidyapeeth Gate","value":"Pune Vidyapeeth Gate","type":"str"},{"label":"Rose Land Nisarg Nirmiti Society","value":"Rose Land Nisarg Nirmiti Society","type":"str"},{"label":"Shivaji Chowk","value":"Shivaji Chowk","type":"str"},{"label":"Sarasbaug","value":"Sarasbaug","type":"str"},{"label":"Shanivarwada","value":"Shanivarwada","type":"str"},{"label":"Shimla Office","value":"Shimla Office","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Shivaji Putla","value":"Shivaji Putla","type":"str"},{"label":"Sindh Colony","value":"Sindh Colony","type":"str"},{"label":"Suncity Stop","value":"Suncity Stop","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"V.I.T. College","value":"V.I.T. College","type":"str"},{"label":"Vadgaon Stop","value":"Vadgaon Stop","type":"str"},{"label":"Vishal Nagar","value":"Vishal Nagar","type":"str"},{"label":"Wakad Bridge","value":"Wakad Bridge","type":"str"},{"label":"Wakad Chowk","value":"Wakad Chowk","type":"str"},{"label":"Wakad Phata","value":"Wakad Phata","type":"str"},{"label":"Warje","value":"Warje","type":"str"}],"payload":"","topic":"","x":1010,"y":40,"wires":[["ded748e1.71787"]]},{"id":"9547a3d4.617508","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Metro Source","tooltip":"","place":"Select Source","group":"9852242d.c8ed78","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Anand Nagar","value":"Anand Nagar","type":"str"},{"label":"Bhosari (Nashik Phata)","value":"Bhosari (Nashik Phata)","type":"str"},{"label":"Bopodi","value":"Bopodi","type":"str"},{"label":"Budhwar Peth","value":"Budhwar Peth","type":"str"},{"label":"Bund Garden","value":"Bund Garden","type":"str"},{"label":"Chhatrapati Sambhaji Udyan","value":"Chhatrapati Sambhaji Udyan","type":"str"},{"label":"Civil Court","value":"Civil Court","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Deccan Gymkhana","value":"Deccan Gymkhana","type":"str"},{"label":"Garware College","value":"Garware College","type":"str"},{"label":"Ideal Colony","value":"Ideal Colony","type":"str"},{"label":"Kalyani Nagar","value":"Kalyani Nagar","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Mandai","value":"Mandai","type":"str"},{"label":"Mangalwar Peth","value":"Mangalwar Peth","type":"str"},{"label":"Nal Stop","value":"Nal Stop","type":"str"},{"label":"PCMC","value":"PCMC","type":"str"},{"label":"Phugewadi","value":"Phugewadi","type":"str"},{"label":"PMC","value":"PMC","type":"str"},{"label":"Pune Railway Station","value":"Pune Railway Station","type":"str"},{"label":"Ramwadi","value":"Ramwadi","type":"str"},{"label":"Range Hills","value":"Range Hills","type":"str"},{"label":"Ruby Hall Clinic","value":"Ruby Hall Clinic","type":"str"},{"label":"Sant Tukaram Nagar","value":"Sant Tukaram Nagar","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"Vanaz","value":"Vanaz","type":"str"},{"label":"Yerawada","value":"Yerawada","type":"str"}],"payload":"","topic":"","x":1020,"y":140,"wires":[["ded748e1.71787"]]},{"id":"157e5fcf.7752b","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Metro Destination","tooltip":"","place":"Select Destination","group":"9852242d.c8ed78","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Anand Nagar","value":"Anand Nagar","type":"str"},{"label":"Bhosari (Nashik Phata)","value":"Bhosari (Nashik Phata)","type":"str"},{"label":"Bopodi","value":"Bopodi","type":"str"},{"label":"Budhwar Peth","value":"Budhwar Peth","type":"str"},{"label":"Bund Garden","value":"Bund Garden","type":"str"},{"label":"Chhatrapati Sambhaji Udyan","value":"Chhatrapati Sambhaji Udyan","type":"str"},{"label":"Civil Court","value":"Civil Court","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Deccan Gymkhana","value":"Deccan Gymkhana","type":"str"},{"label":"Garware College","value":"Garware College","type":"str"},{"label":"Ideal Colony","value":"Ideal Colony","type":"str"},{"label":"Kalyani Nagar","value":"Kalyani Nagar","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Mandai","value":"Mandai","type":"str"},{"label":"Mangalwar Peth","value":"Mangalwar Peth","type":"str"},{"label":"Nal Stop","value":"Nal Stop","type":"str"},{"label":"PCMC","value":"PCMC","type":"str"},{"label":"Phugewadi","value":"Phugewadi","type":"str"},{"label":"PMC","value":"PMC","type":"str"},{"label":"Pune Railway Station","value":"Pune Railway Station","type":"str"},{"label":"Ramwadi","value":"Ramwadi","type":"str"},{"label":"Range Hills","value":"Range Hills","type":"str"},{"label":"Ruby Hall Clinic","value":"Ruby Hall Clinic","type":"str"},{"label":"Sant Tukaram Nagar","value":"Sant Tukaram Nagar","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Swargate","value":"Swargate","type":"str"},{"label":"Vanaz","value":"Vanaz","type":"str"},{"label":"Yerawada","value":"Yerawada","type":"str"}],"payload":"","topic":"","x":1030,"y":340,"wires":[["2f9bc7df.4e1948"]]},{"id":"a659182a.4efea8","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Train Source","tooltip":"","place":"Select Source","group":"de9aa1f6.4af17","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Akurdi","value":"Akurdi","type":"str"},{"label":"Begdewadi","value":"Begdewadi","type":"str"},{"label":"Chinchwad","value":"Chinchwad","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Dehu Road","value":"Dehu Road","type":"str"},{"label":"Ghorawadi","value":"Ghorawadi","type":"str"},{"label":"Kanhe","value":"Kanhe","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Lonavala","value":"Lonavala","type":"str"},{"label":"Malavali","value":"Malavali","type":"str"},{"label":"Pimpri","value":"Pimpri","type":"str"},{"label":"Pune Station","value":"Pune Station","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Talegaon","value":"Talegaon","type":"str"},{"label":"Vadgaon","value":"Vadgaon","type":"str"}],"payload":"","topic":"","x":830,"y":100,"wires":[["ded748e1.71787"]]},{"id":"7b7b7ea2.32b6f8","type":"ui_dropdown","z":"e05c0b4e.1f7ce","name":"","label":"Train Destination","tooltip":"","place":"Select Destination","group":"de9aa1f6.4af17","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Akurdi","value":"Akurdi","type":"str"},{"label":"Begdewadi","value":"Begdewadi","type":"str"},{"label":"Chinchwad","value":"Chinchwad","type":"str"},{"label":"Dapodi","value":"Dapodi","type":"str"},{"label":"Dehu Road","value":"Dehu Road","type":"str"},{"label":"Ghorawadi","value":"Ghorawadi","type":"str"},{"label":"Kanhe","value":"Kanhe","type":"str"},{"label":"Kasarwadi","value":"Kasarwadi","type":"str"},{"label":"Khadki","value":"Khadki","type":"str"},{"label":"Lonavala","value":"Lonavala","type":"str"},{"label":"Malavali","value":"Malavali","type":"str"},{"label":"Pimpri","value":"Pimpri","type":"str"},{"label":"Pune Station","value":"Pune Station","type":"str"},{"label":"Shivaji Nagar","value":"Shivaji Nagar","type":"str"},{"label":"Talegaon","value":"Talegaon","type":"str"},{"label":"Vadgaon","value":"Vadgaon","type":"str"}],"payload":"","topic":"","x":890,"y":280,"wires":[["2f9bc7df.4e1948"]]},{"id":"3a7f0ffd.ae28","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"f92e480c.802278","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":100,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"a14837d7.06caa8","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"de9aa1f6.4af17","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":160,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"6deee0d9.cd3188","type":"ui_text_input","z":"e05c0b4e.1f7ce","name":"","label":"Enter the Number of Passengers","tooltip":"","group":"9852242d.c8ed78","order":3,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"","x":1660,"y":220,"wires":[["c5411b05.3a2228","6c5e4a68.91a6fc"]]},{"id":"4cf56f8b.ad977","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":950,"y":500,"wires":[[]]},{"id":"ccc54686.d81208","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1970,"y":680,"wires":[[]]},{"id":"b7b045cb.2ccee","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1690,"y":720,"wires":[[]]},{"id":"f5bc526e.e0f408","type":"ui_template","z":"e05c0b4e.1f7ce","group":"daa54b51.3bafa8","name":"Train Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th colspan=\"2\" align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button ng-disabled=\"sumseats(obj.Seats)<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,0)})\">{{display(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n        <td align=\"center\"><md-button ng-show=\"decide(obj.Seats,obj.ReqSeats)\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,1)})\">{{display1(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.sumseats=function(seats)\n        {\n            sum=0;\n            for(i=0;i<24;i++)\n            {\n                sum+=seats[i];\n            }\n            return sum;\n        }\n        scope.selectchoice=function(time,route_no,amount,id,num)\n        { \n            for(i=0;i<scope.coachlist.length;i++)\n            {\n                if(scope.coachlist[i].Time==time && scope.coachlist[i].Button==num)\n                {\n                    return {Time:time,Route_no:route_no,Amount:amount,Coach:scope.coachlist[i].Coach,Seats:scope.coachlist[i].Seats,Id:id};\n\n                }\n            }\n        } \n        scope.coachlist=[];\n        scope.checkavail=function(seats)\n        {\n            for(i=0;i<24;i++)\n            {\n                if(seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        scope.display=function(seats,reqseats,time)\n        {\n            var coach=\"\";\n            var flag=0;\n            if(scope.checkavail(seats)==0)\n            {\n                return \"No Seats Left\";\n            }\n            for(i=0;i<24;i++)\n            {\n                if(seats[i]>=reqseats && reqseats!=0)\n                {\n                    if(flag===0)\n                    {\n                        if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:0})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:0})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                    }\n                    else\n                    {\n                        if(reqseats===1)\n                        {\n                            coach+=\",1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=\",\"+reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                        reqseats=0;\n                    }\n                }\n                else if(seats[i]<reqseats && seats[i]!=0 && reqseats!=0)\n                {\n                    flag=1;\n                    if(seats[i]===1)\n                        {\n                            coach+=\"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=seat[i]+\" Seats in Coach \"+(i+1);\n                        }\n                    reqseats-=seats[i];\n                }\n            }\n            lst=coach.split(\",\");\n            lst1=[];\n            seatn=[];\n            coachn=[];\n            for(i=0;i<lst.length;i++)\n            {\n                lst2=lst[i].split(\" \");\n                for(j=0;j<lst2.length;j++)\n                {\n                    lst1.push(lst2[j]);\n                }\n            }\n            for(i=0;i<lst1.length;i=i+5)\n            {\n                seatn.push(parseInt(lst1[i]))\n            }\n            for(i=4;i<lst1.length;i=i+5)\n            {\n                coachn.push(parseInt(lst1[i]))\n            }\n            scope.coachlist.push({Time:time,Coach:coachn,Seats:seatn,Button:0})\n            return coach;\n        }\n        scope.display1=function(seats,reqseats,time)\n        {\n           for(i=0;i<24;i++)\n            {\n                if(seats[i]>=reqseats)\n                {\n                    if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:1})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:1})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                }\n            }\n        }\n        scope.decide=function(seats,reqseats)\n        {\n            \n            for(i=0;i<24;i++)\n            {\n                if(seats[i]<reqseats && seats[i+1]>=reqseats && seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":890,"y":680,"wires":[["2db220b4.584368","6cf2e182.00ad"]]},{"id":"dc41ae89.16615","type":"ui_template","z":"e05c0b4e.1f7ce","group":"e76d2708.ba89d","name":"Metro Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th colspan=\"2\" align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button ng-disabled=\"(obj.Seats[0]+obj.Seats[1]+obj.Seats[2])<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,0)})\">{{display(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n        <td align=\"center\"><md-button ng-show=\"decide(obj.Seats,obj.ReqSeats)\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id,1)})\">{{display1(obj.Seats,obj.ReqSeats,obj.Time)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.selectchoice=function(time,route_no,amount,id,num)\n        { \n            for(i=0;i<scope.coachlist.length;i++)\n            {\n                if(scope.coachlist[i].Time==time && scope.coachlist[i].Button==num)\n                {\n                    return {Time:time,Route_no:route_no,Amount:amount,Coach:scope.coachlist[i].Coach,Seats:scope.coachlist[i].Seats,Id:id};\n\n                }\n            }\n        } \n        scope.coachlist=[];\n        scope.display=function(seats,reqseats,time)\n        {\n            var coach=\"\";\n            var flag=0;\n            if(seats[0]==0 && seats[1]==0 && seats[2]==0)\n            {\n                return \"No Seats Left\";\n            }\n            for(i=0;i<3;i++)\n            {\n                if(seats[i]>=reqseats && reqseats!=0)\n                {\n                    if(flag===0)\n                    {\n                        if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:0})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:0})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                    }\n                    else\n                    {\n                        if(reqseats===1)\n                        {\n                            coach+=\",1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=\",\"+reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                        reqseats=0;\n                    }\n                }\n                else if(seats[i]<reqseats && seats[i]!=0 && reqseats!=0)\n                {\n                    flag=1;\n                    if(seats[i]===1)\n                        {\n                            coach+=\"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            coach+=seat[i]+\" Seats in Coach \"+(i+1);\n                        }\n                    reqseats-=seats[i];\n                }\n            }\n            lst=coach.split(\",\");\n            lst1=[];\n            seatn=[];\n            coachn=[];\n            for(i=0;i<lst.length;i++)\n            {\n                lst2=lst[i].split(\" \");\n                for(j=0;j<lst2.length;j++)\n                {\n                    lst1.push(lst2[j]);\n                }\n            }\n            for(i=0;i<lst1.length;i=i+5)\n            {\n                seatn.push(parseInt(lst1[i]))\n            }\n            for(i=4;i<lst1.length;i=i+5)\n            {\n                coachn.push(parseInt(lst1[i]))\n            }\n            scope.coachlist.push({Time:time,Coach:coachn,Seats:seatn,Button:0})\n            return coach;\n        }\n        scope.display1=function(seats,reqseats,time)\n        {\n           for(i=0;i<3;i++)\n            {\n                if(seats[i]>=reqseats)\n                {\n                    if(reqseats===1)\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[1],Button:1})\n                            return \"1 Seat in Coach \"+(i+1);\n                        }\n                        else\n                        {\n                            scope.coachlist.push({Time:time,Coach:[i+1],Seats:[reqseats],Button:1})\n                            return reqseats+\" Seats in Coach \"+(i+1);\n                        }\n                }\n            }\n        }\n        scope.decide=function(seats,reqseats)\n        {\n            \n            for(i=0;i<3;i++)\n            {\n                if(seats[i]<reqseats && seats[i+1]>=reqseats && seats[i]!=0)\n                {\n                    return 1;\n                }\n            }\n            return 0;\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":870,"y":740,"wires":[["548da77b.a8bb7","8a0e8d0e.7f122"]]},{"id":"77a906dc.8766d8","type":"ui_template","z":"e05c0b4e.1f7ce","group":"3b70865d.182f7a","name":"Bus Schedule Retrieval","order":1,"width":"11","height":"7","format":"<head>\n  <style>\ntable {\n  font-family: \"Trebuchet MS\", Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd, th {\n  border: 1px solid #ddd;\n  padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2;}\n\ntr:hover {background-color: #ddd;}\n\nth {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #0094CE;\n  color: white;\n}\n\n</style>  \n</head>\n<table border=\"2\">\n    <tr>\n        <th align=\"center\">Time</th>\n        <th align=\"center\">Source</th>\n        <th align=\"center\">Destination</th>\n        <th align=\"center\">Route Number</th>\n        <th align=\"center\">Book Seat/s</th>\n    </tr>\n\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Time}}</td>\n        <td align=\"center\">{{obj.Source}}</td>\n        <td align=\"center\">{{obj.Destination}}</td>\n        <td align=\"center\">{{obj.Route_no}}</td>\n        <td align=\"center\"><md-button class=\"book\" ng-disabled=\"obj.Seats===0 || obj.Seats<obj.ReqSeats\" ng-click=\"send({payload:selectchoice(obj.Time,obj.Route_no,obj.Amount,obj._id)})\">{{display(obj.Seats,obj.ReqSeats)}}</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n        scope.selectchoice=function(time,route_no,amount,id)\n        { \n            return {Time:time,Route_no:route_no,Amount:amount,Id:id};\n        } \n        scope.display=function(seats,reqseats)\n        {\n            if(seats===0)\n            {\n                return \"No Seats Left\";\n            }\n            else if(seats<reqseats)\n            {\n                if(seats==1)\n                {\n                    return \"Only 1 Seat Left\";\n                }\n                else\n                {\n                    return \"Only \"+seats+\" Seats Left\";\n                }\n            }\n            else\n            {\n                if(reqseats==1)\n                {\n                    return \"1 Seat\";\n                }\n                else\n                {\n                    return reqseats+\" Seats\";\n                }\n            }\n        }\n        })\n    })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":910,"y":600,"wires":[["660ac869.61286","ef2232ca.1b731"]]},{"id":"47ad103d.ee0358","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Choose Location","events":"all","x":1400,"y":480,"wires":[[]]},{"id":"8446798e.b2a9c8","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Corona Symptom-Checker","events":"all","x":1970,"y":520,"wires":[[]]},{"id":"2984a1ba.2d6256","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Booking Schedule","events":"all","x":780,"y":180,"wires":[[]]},{"id":"ded748e1.71787","type":"function","z":"e05c0b4e.1f7ce","name":"global source","func":"if(msg.payload!==\"\")\n{\n    global.set(\"src\",msg.payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1250,"y":100,"wires":[[]]},{"id":"a3554a94.1a995","type":"delay","z":"e05c0b4e.1f7ce","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":40,"wires":[["5267324f.1302a4"]]},{"id":"5267324f.1302a4","type":"function","z":"e05c0b4e.1f7ce","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":40,"wires":[["3a7f0ffd.ae28","a14837d7.06caa8","6deee0d9.cd3188","9a140431.591828","a659182a.4efea8","9547a3d4.617508","17c1409.f90003f","7b7b7ea2.32b6f8","157e5fcf.7752b"]]},{"id":"1ec94339.46f98d","type":"debug","z":"e05c0b4e.1f7ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":900,"wires":[]},{"id":"4be34ac6.5ad234","type":"ui_template","z":"e05c0b4e.1f7ce","group":"f92e480c.802278","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1280,"wires":[[]]},{"id":"66e98dd6.cb4fc4","type":"ui_template","z":"e05c0b4e.1f7ce","group":"3b70865d.182f7a","name":"Bus Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1280,"wires":[[]]},{"id":"67d8d2d2.dd193c","type":"ui_template","z":"e05c0b4e.1f7ce","group":"e76d2708.ba89d","name":"Metro Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1340,"wires":[[]]},{"id":"db0206f4.9596c8","type":"ui_template","z":"e05c0b4e.1f7ce","group":"daa54b51.3bafa8","name":"Train Booking Schedule","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1400,"wires":[[]]},{"id":"8e071713.e1db7","type":"ui_template","z":"e05c0b4e.1f7ce","group":"9852242d.c8ed78","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1340,"wires":[[]]},{"id":"9cd17853.d9725","type":"ui_template","z":"e05c0b4e.1f7ce","group":"de9aa1f6.4af17","name":"Choose Location","order":7,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":1400,"wires":[[]]},{"id":"4505471.c7448b8","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"if(global.get(\"npeople\")!=1)\n{\n    msg.payload={tab:\"Symptom-Checker\"};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1700,"y":820,"wires":[["b0556c46.3c381"]]},{"id":"b0556c46.3c381","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Symptom-Checker","events":"all","x":1960,"y":820,"wires":[["68f14ee1.76ec58"]]},{"id":"68f14ee1.76ec58","type":"function","z":"e05c0b4e.1f7ce","name":"set msg.payload","func":"global.set(\"info_count\",0)\nfor(i=0;i<global.get(\"npeople\");i++)\n{\n    str1=\"P\"+(i+1)+\"Info\";\n    global.set(str1,\"\");\n}\nmsg.payload=global.get(\"npeople\");\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":820,"wires":[["c46eb8c2.df746"]]},{"id":"c46eb8c2.df746","type":"link out","z":"e05c0b4e.1f7ce","name":"Symptom-Checker","links":["29848d7b.54ccc2"],"x":2395,"y":820,"wires":[]},{"id":"9c6ea356.e9c8e","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"3b70865d.182f7a","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1020,"wires":[["3427b84c.5fd4d"]]},{"id":"4445c82c.1a8098","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"daa54b51.3bafa8","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1080,"wires":[["3427b84c.5fd4d"]]},{"id":"8462a5b1.3be7c","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"e76d2708.ba89d","order":1,"width":0,"height":0,"passthru":false,"label":"Click To Change Source/ Destination/ Passenger Count","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":1140,"wires":[["3427b84c.5fd4d"]]},{"id":"3427b84c.5fd4d","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"msg.payload={tab:\"Choose Location\"};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1080,"wires":[["59a7d71b.106d1"]]},{"id":"59a7d71b.106d1","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Choose Location","events":"all","x":780,"y":1080,"wires":[[]]},{"id":"cd3d1d51.197b9","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"f92e480c.802278","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1020,"wires":[["ffda8a68.63c92"]]},{"id":"ffda8a68.63c92","type":"function","z":"e05c0b4e.1f7ce","name":"tab switch","func":"msg.payload={tab:\"Mode of Transport\"};\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1080,"wires":[["52dd093b.a0d3f"]]},{"id":"52dd093b.a0d3f","type":"ui_ui_control","z":"e05c0b4e.1f7ce","name":"To Mode of Transport","events":"all","x":1600,"y":1080,"wires":[[]]},{"id":"55134fcd.b7365","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"de9aa1f6.4af17","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1080,"wires":[["ffda8a68.63c92"]]},{"id":"7de957ac.e2f158","type":"ui_button","z":"e05c0b4e.1f7ce","name":"","group":"9852242d.c8ed78","order":6,"width":0,"height":0,"passthru":false,"label":"Click To Change Mode of Transport","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1080,"y":1140,"wires":[["ffda8a68.63c92"]]},{"id":"6c5e4a68.91a6fc","type":"function","z":"e05c0b4e.1f7ce","name":"passenger count check","func":"if(msg.payload!==\"\" && msg.payload<1)\n{\n    global.set(\"npeople\",\"\")\n    msg.payload=\"Enter Proper Passenger Count\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2010,"y":200,"wires":[["5f1cb60b.01edb8"]]},{"id":"5f1cb60b.01edb8","type":"ui_toast","z":"e05c0b4e.1f7ce","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2270,"y":200,"wires":[[]]},{"id":"f92e480c.802278","type":"ui_group","z":"","name":"Bus Stops","tab":"502f6c1f.652bc4","order":1,"disp":false,"width":"7","collapse":false},{"id":"de9aa1f6.4af17","type":"ui_group","z":"","name":"Train Stops","tab":"502f6c1f.652bc4","order":2,"disp":false,"width":"7","collapse":false},{"id":"9852242d.c8ed78","type":"ui_group","z":"","name":"Metro Stops","tab":"502f6c1f.652bc4","order":3,"disp":false,"width":"7","collapse":false},{"id":"daa54b51.3bafa8","type":"ui_group","z":"","name":"Schedule","tab":"fb4c8c81.beefe8","order":1,"disp":true,"width":"11","collapse":false},{"id":"e76d2708.ba89d","type":"ui_group","z":"","name":"Schedule","tab":"87d8d29a.967928","order":1,"disp":true,"width":"11","collapse":false},{"id":"3b70865d.182f7a","type":"ui_group","z":"","name":"Schedule","tab":"767f785a.b58ca","order":1,"disp":true,"width":"11","collapse":false},{"id":"502f6c1f.652bc4","type":"ui_tab","z":"","name":"Choose Location","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"fb4c8c81.beefe8","type":"ui_tab","z":"","name":"Train Booking Schedule","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"87d8d29a.967928","type":"ui_tab","z":"","name":"Metro Booking Schedule","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"767f785a.b58ca","type":"ui_tab","z":"","name":"Bus Booking Schedule","icon":"dashboard","order":5,"disabled":false,"hidden":true}]