Login,Mode of Transport.json
[{"id":"c581679.4097398","type":"tab","label":"Login, Mode of Transport","disabled":false,"info":""},{"id":"bb383902.68794","type":"function","z":"c581679.4097398","name":"setting global values","func":"if(msg.payload.cr)\n{\n    global.set(\"email\",msg.payload.email);\n    global.set(\"pwd\",msg.payload.pwd);\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["21e6ee38.7b0522"]]},{"id":"21349aba.377636","type":"comment","z":"c581679.4097398","name":"Login","info":"","x":70,"y":60,"wires":[]},{"id":"e68aca7f.caa73","type":"cloudant in","z":"c581679.4097398","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":490,"y":200,"wires":[["7e94bec2.18b14","c9b092dd.170bf"]]},{"id":"21e6ee38.7b0522","type":"function","z":"c581679.4097398","name":"getting email from database","func":"var email = global.get(\"email\");\nmsg.payload = {_id:email};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["e68aca7f.caa73"]]},{"id":"7e94bec2.18b14","type":"function","z":"c581679.4097398","name":"checking password","func":"var pwd = global.get('pwd');\nif(msg.payload===null)\n{\n    msg.payload = \"Incorrect Email or Password\";\n}\nelse if(msg.payload.Password==pwd)\n{\n    msg.payload = \"Login Successful\";\n}\nelse\n{\n    msg.payload = \"Incorrect Email or Password\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["39429158.b03d3e","3e930a51.f7cb66"]]},{"id":"3e930a51.f7cb66","type":"function","z":"c581679.4097398","name":"tab switch","func":"if(msg.payload == \"Login Successful\")\n    msg.payload={tab:\"Mode of Transport\"};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["25d0a25a.92e06e"]]},{"id":"25d0a25a.92e06e","type":"delay","z":"c581679.4097398","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":280,"wires":[["daa86e73.b699c8"]]},{"id":"c9b092dd.170bf","type":"debug","z":"c581679.4097398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"f92d0fe7.13306","type":"function","z":"c581679.4097398","name":"tab switch","func":"msg.payload={tab:\"Register\",group:{hide:[\"Register_Email_Verification\"],show:[\"Register_User_Registration\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["e02926cb.4413a8"]]},{"id":"39eed23c.ea4d5e","type":"comment","z":"c581679.4097398","name":"Mode of Transport","info":"","x":110,"y":460,"wires":[]},{"id":"66462031.fc591","type":"function","z":"c581679.4097398","name":"global save","func":"global.set(\"transport\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[[]]},{"id":"4a1e1817.d4fb08","type":"function","z":"c581679.4097398","name":"tab switch, group hide/show","func":"var trans=global.get(\"transport\");\nif(trans=='Bus')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Bus_Stops\"],\n       hide:[\"Choose_Location_Train_Stops\",\"Choose_Location_Metro_Stops\"]}};\n}\nelse if(trans=='Train')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Train_Stops\"],\n       hide:[\"Choose_Location_Bus_Stops\",\"Choose_Location_Metro_Stops\"]}};\n}\nelse if(trans=='Metro')\n{\n   msg.payload={tab:\"Choose Location\",group:{\n       show:[\"Choose_Location_Metro_Stops\"],\n       hide:[\"Choose_Location_Bus_Stops\",\"Choose_Location_Train_Stops\"]}};\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["d29d387.bfdf048"]]},{"id":"5384cb89.821924","type":"ui_button","z":"c581679.4097398","name":"","group":"eb57d8f0.8659c8","order":3,"width":0,"height":0,"passthru":false,"label":"New User? Click To Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":380,"wires":[["f92d0fe7.13306"]]},{"id":"f7c20eef.d0541","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":1,"width":"0","height":"0","passthru":false,"label":"Bus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Bus","payloadType":"str","topic":"","x":190,"y":540,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"576e2164.672ad","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":3,"width":"0","height":"0","passthru":false,"label":"Metro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Metro","payloadType":"str","topic":"Metro","x":190,"y":640,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"1772c386.10705c","type":"ui_button","z":"c581679.4097398","name":"","group":"50494543.9dd6fc","order":5,"width":"0","height":"0","passthru":false,"label":"Train","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Train","payloadType":"str","topic":"","x":190,"y":740,"wires":[["66462031.fc591","4a1e1817.d4fb08"]]},{"id":"39429158.b03d3e","type":"ui_toast","z":"c581679.4097398","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":200,"wires":[[]]},{"id":"d0c6b2a5.756e48","type":"ui_form","z":"c581679.4097398","name":"","label":"","group":"eb57d8f0.8659c8","order":1,"width":"0","height":"0","options":[{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Captcha","value":"cr","type":"checkbox","required":true,"rows":null}],"formValue":{"email":"","pwd":"","cr":false},"payload":"","submit":"submit","cancel":"clear","topic":"","x":110,"y":120,"wires":[["bb383902.68794","b8dc2580.9310b"]]},{"id":"daa86e73.b699c8","type":"ui_ui_control","z":"c581679.4097398","name":"To Mode of Transport","events":"all","x":1060,"y":280,"wires":[[]]},{"id":"e02926cb.4413a8","type":"ui_ui_control","z":"c581679.4097398","name":"To Register","events":"all","x":710,"y":380,"wires":[[]]},{"id":"d29d387.bfdf048","type":"ui_ui_control","z":"c581679.4097398","name":"To Choose Location","events":"all","x":860,"y":660,"wires":[[]]},{"id":"b8dc2580.9310b","type":"delay","z":"c581679.4097398","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":60,"wires":[["94c4c963.4d3f3"]]},{"id":"94c4c963.4d3f3","type":"function","z":"c581679.4097398","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":60,"wires":[["d0c6b2a5.756e48"]]},{"id":"b4ab0eea.ee1488","type":"ui_template","z":"c581679.4097398","group":"eb57d8f0.8659c8","name":"Login","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":930,"y":120,"wires":[[]]},{"id":"2f5c2af2.a17576","type":"ui_template","z":"c581679.4097398","group":"50494543.9dd6fc","name":"Mode of Transport","order":6,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-radius: 35px;\n}\n\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":520,"wires":[[]]},{"id":"eb57d8f0.8659c8","type":"ui_group","z":"","name":"User Login","tab":"f86d0831.8a9268","order":1,"disp":true,"width":"6","collapse":false},{"id":"50494543.9dd6fc","type":"ui_group","z":"","name":"Choose Transport Service","tab":"8f00426d.149a","order":1,"disp":true,"width":"6","collapse":false},{"id":"f86d0831.8a9268","type":"ui_tab","z":"","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"8f00426d.149a","type":"ui_tab","z":"","name":"Mode of Transport","icon":"dashboard","order":3,"disabled":false,"hidden":true}]