QR code Generation.json
[{"id":"cb286b43.5d79f8","type":"tab","label":"QR Code Generation, Booking Confirmation","disabled":false,"info":""},{"id":"465b2161.3f934","type":"http request","z":"cb286b43.5d79f8","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["e9ea21bb.86f9"]]},{"id":"79d9ee36.c456e","type":"function","z":"cb286b43.5d79f8","name":"QR generate","func":"var email = global.get(\"email\");\nvar date=new Date().toLocaleString();\nglobal.set(\"timestamp\",date);\nmsg.payload = 'https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl='+'Email: '+email +' Timestamp: '+date+'&chld=H|0';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["465b2161.3f934","858e5235.12fe9","8894e576.e75338"]]},{"id":"8894e576.e75338","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":300,"wires":[]},{"id":"b369ec48.3cecb8","type":"function","z":"cb286b43.5d79f8","name":"group switch","func":"msg.payload={tab:'Booking Success',group:{show:[\"Booking_Success_QRCode\"],hide:[\"Booking_Success_QR_Code_Generation\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["fbe9a8bb.24f7e"]]},{"id":"f8bbbf59.dd27f","type":"function","z":"cb286b43.5d79f8","name":"qr code message","func":"msg.payload=\"Generating QR Code! Please Wait....\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["20e1661b.b01562"]]},{"id":"e9ea21bb.86f9","type":"image","z":"cb286b43.5d79f8","name":"","width":"140","data":"payload","dataType":"msg","thumbnail":true,"active":true,"pass":false,"outputs":0,"x":840,"y":140,"wires":[]},{"id":"bdca6327.f8a628","type":"ui_button","z":"cb286b43.5d79f8","name":"","group":"914ae5af.e7c838","order":1,"width":0,"height":0,"passthru":false,"label":"Generate QR Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":220,"wires":[["79d9ee36.c456e","b369ec48.3cecb8","f8bbbf59.dd27f"]]},{"id":"20e1661b.b01562","type":"ui_toast","z":"cb286b43.5d79f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":410,"y":380,"wires":[[]]},{"id":"858e5235.12fe9","type":"ui_template","z":"cb286b43.5d79f8","group":"d13218f8.53b6b8","name":"","order":2,"width":"5","height":"6","format":"\n<img id=\"qr\" crossorigin=\"anonymous\" width=\"150\" height=\"150\" src=  {{msg.payload}} alt='QR Code' style=\"border:5px solid black\">\n<md-button style=\"background-color: #0094CE\" onclick=\"ss()\">\nDownload\n</md-button>\n\n<canvas id=\"myCanvas\" style=\"display:none;\"></canvas>\n\n<script>\nconst canvas = document.getElementById(\"myCanvas\");\nconst img = document.getElementById(\"qr\");\nfunction ss() {\n  canvas.getContext('2d').drawImage(img, 0, 0)\n  var download = document.getElementById(\"download\");\n  var image = canvas.toDataURL(\"image/png\").replace(\"image/png\", \"image/octet-stream\");\n  var link = document.createElement('a');\n  link.download = \"qrcode.png\";\n  link.href = image;\n  link.click();\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":220,"wires":[["2ebb1987.c6a0de","e954d71.de88228","1c126e96.aa38f9"]]},{"id":"fbe9a8bb.24f7e","type":"ui_ui_control","z":"cb286b43.5d79f8","name":"Show Group","events":"all","x":650,"y":380,"wires":[[]]},{"id":"2ebb1987.c6a0de","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Bus\")\n{\n    msg.payload={_id:global.get(\"bus_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":180,"wires":[["bc8cda6e.e050e8"]]},{"id":"bc8cda6e.e050e8","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1080,"y":260,"wires":[["49112672.545d"]]},{"id":"49112672.545d","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"global.set(\"bus_seat_start\",(20-msg.payload.AvailableSeats)+1);\nmsg.payload.AvailableSeats-=global.get(\"npeople\");\nglobal.set(\"bus_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"bus_start_src\",Stops[0]);\nglobal.set(\"bus_number\",msg.payload.Route_no);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["c0c11ab5.7a5b4","d4ec6494.742cb","17d0c14a.33309f"]]},{"id":"17d0c14a.33309f","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"bus_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1600,"y":200,"wires":[]},{"id":"c0c11ab5.7a5b4","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"bus_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":200,"wires":[["2ef79436.0d1eac"]]},{"id":"2ef79436.0d1eac","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1530,"y":120,"wires":[]},{"id":"e954d71.de88228","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Metro\")\n{\n    msg.payload={_id:global.get(\"metro_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["61120890.24de48"]]},{"id":"61120890.24de48","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1060,"y":420,"wires":[["5f3704d1.8a301c"]]},{"id":"7e64f466.4f524c","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"metro_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1580,"y":460,"wires":[]},{"id":"25b96a85.e50a0e","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"metro_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":480,"wires":[["e0d4fbd9.a207e"]]},{"id":"e0d4fbd9.a207e","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":520,"wires":[]},{"id":"5f3704d1.8a301c","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"var metro_coach=global.get(\"metro_coach\");\nvar metro_seats=global.get(\"metro_seats\");\nvar metro_seat_start=[];\nfor(i=0;i<metro_coach.length;i++)\n{\n    metro_seat_start.push(26-msg.payload.AvailableSeats[metro_coach[i]-1]+1);\n    msg.payload.AvailableSeats[metro_coach[i]-1]-=metro_seats[i];\n}\nglobal.set(\"metro_seat_start\",train_seat_start);\nglobal.set(\"metro_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"metro_start_src\",Stops[0]);\nglobal.set(\"metro_number\",msg.payload.Route_no);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["25b96a85.e50a0e","d4ec6494.742cb","7e64f466.4f524c"]]},{"id":"d4ec6494.742cb","type":"function","z":"cb286b43.5d79f8","name":"save to booking database","func":"var transport=global.get(\"transport\");\n\nif(transport=='Bus')\n{\n    seat_start=global.get(\"bus_seat_start\");\n    seats=[];\n    for(i=seat_start;i<(seat_start+global.get(\"npeople\"));i++)\n    {\n        seats.push(i);\n    }\n    global.set(\"bus_seats\",seats)\n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"bus_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"bus_time\"),\n        Route_no: global.get(\"bus_number\"),\n        SeatNumbers: seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nelse if(transport=='Train')\n{\n    seat_start=global.get(\"train_seat_start\");\n    seat=global.get(\"train_seats\");\n    coach=global.get(\"train_coach\");\n    seats=[];\n    j=0;\n    while(j<seat_start.length)\n    {\n      for(i=seat_start[j];i<(seat_start[j]+seat[j]);i++)\n      {\n          coachn=\"Coach \"+coach[j];\n          seatn=\"Seat \"+i;\n          combo=coachn+\": \"+seatn;\n        seats.push(combo);\n      } \n      j++;\n    }\n    global.set(\"train_seatnumbers\",seats) \n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"train_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"train_time\"),\n        Route_no: global.get(\"train_number\"),\n        CoachNumbers:global.get(\"train_coach\"),\n        SeatNumbers:seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nelse if(transport=='Metro')\n{\n    seat_start=global.get(\"metro_seat_start\");\n    seat=global.get(\"metro_seats\");\n    coach=global.get(\"metro_coach\");\n    seats=[];\n    j=0;\n    while(j<seat_start.length)\n    {\n      for(i=seat_start[j];i<(seat_start[j]+seat[j]);i++)\n      {\n          coachn=\"Coach \"+coach[j];\n          seatn=\"Seat \"+i;\n          combo=coachn+\": \"+seatn;\n        seats.push(combo);\n      } \n      j++;\n    }\n    global.set(\"metro_seatnumbers\",seats) \n    msg.payload={\n        email:global.get(\"email\"),\n        Source:global.get(\"src\"),\n        Destination:global.get(\"dest\"),\n        Type:transport,\n        Amount:global.get(\"metro_amount\"),\n        Passengers: global.get(\"npeople\"),\n        Time:global.get(\"metro_time\"),\n        Route_no: global.get(\"metro_number\"),\n        CoachNumbers:global.get(\"metro_coach\"),\n        SeatNumbers:seats,\n        Timestamp:global.get(\"timestamp\"),\n        Risk: global.get(\"color\")\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":380,"wires":[["faeb32fd.ef40e","5ab5b3e3.d0c12c","78c260d9.7cb13"]]},{"id":"78c260d9.7cb13","type":"cloudant out","z":"cb286b43.5d79f8","name":"booking","cloudant":"","database":"booking","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":2200,"y":360,"wires":[]},{"id":"faeb32fd.ef40e","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2210,"y":460,"wires":[]},{"id":"5ab5b3e3.d0c12c","type":"function","z":"cb286b43.5d79f8","name":"booking mail","func":"msg.to=global.get(\"email\");\nif(global.get(\"transport\")==\"Bus\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"bus_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Bus\";\n    msg.payload+=\"<br>Bus Number: \"+global.get(\"bus_number\");\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Seat Number/s: \"+global.get(\"bus_seats\");\n    if(global.get(\"src\")!=global.get(\"bus_start_src\"))\n    {\n        msg.payload+=\"<br>Bus will start from origin i.e. \"+global.get(\"bus_start_src\")+\" at \"+global.get(\"bus_start_time\");\n    }\n}\nelse if(global.get(\"transport\")==\"Metro\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"metro_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Metro\";\n    msg.payload+=\"<br>Metro Route: \"+global.get(\"metro_number\");\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Coach and Seat Number/s:\";\n    seats=global.get(\"metro_seatnumbers\");\n    for(i=0;i<seats.length;i++)\n    {\n        msg.payload+=\"<br>\"+seats[i];\n    }\n    if(global.get(\"src\")!=global.get(\"metro_start_src\"))\n    {\n        msg.payload+=\"<br>Metro will start from origin i.e. \"+global.get(\"metro_start_src\")+\" at \"+global.get(\"metro_start_time\");\n    }\n}\nelse if(global.get(\"transport\")==\"Train\")\n{\n    msg.payload=\"Your Booking is Successful!<br>Time: \"+global.get(\"train_time\")+\"<br>Source: \"+global.get(\"src\")+\"<br>Destination: \"+global.get(\"dest\");\n    msg.payload+=\"<br>Transport Service: Train\";\n    msg.payload+=\"<br>Number of Passenger/s: \"+global.get(\"npeople\");\n    msg.payload+=\"<br>Coach and Seat Number/s:\";\n    seats=global.get(\"train_seatnumbers\");\n    for(i=0;i<seats.length;i++)\n    {\n        msg.payload+=\"<br>\"+seats[i];\n    }\n    if(global.get(\"src\")!=global.get(\"train_start_src\"))\n    {\n        msg.payload+=\"<br>Train will start from origin i.e. \"+global.get(\"train_start_src\")+\" at \"+global.get(\"train_start_time\");\n    }\n}\nmsg.payload+=\"<br>Attached herewith is the QR Code which will be required for verification while boarding.\";\nmsg.payload+=\"<br><br>Note: All The Passengers will be Assessed before Boarding. Depending on that they will be allowed to board. If not allowed, the respective Amount will be Refunded. Please follow Social-Distancing and wear Mask.\"\nmsg.payload+=\"<br><br>Regards,<br>E-Rides\"\nmsg.attachments={\n    filename:\"qrcode.png\",\n    path:\"https://chart.apis.google.com/chart?cht=qr&chs=150x150&chl=\"+\"Email: \"+global.get(\"email\")+\" Timestamp: \"+global.get(\"timestamp\")+\"&chld=H|0\"};\nmsg.topic=\"Booking Success\";\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":280,"wires":[["7ee0378.1678cc8","af6e71d4.cd604"]]},{"id":"af6e71d4.cd604","type":"e-mail","z":"cb286b43.5d79f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"booking","x":2140,"y":300,"wires":[]},{"id":"7ee0378.1678cc8","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2150,"y":220,"wires":[]},{"id":"1c126e96.aa38f9","type":"function","z":"cb286b43.5d79f8","name":"retrieve record","func":"if(global.get(\"transport\")==\"Train\")\n{\n    msg.payload={_id:global.get(\"train_record_id\")};\n    return msg;\n}","outputs":1,"noerr":0,"x":1060,"y":580,"wires":[["6696eb38.07b8bc"]]},{"id":"6696eb38.07b8bc","type":"cloudant in","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":1080,"y":660,"wires":[["6060bf11.b35a7"]]},{"id":"6d0ccea7.0a1bc","type":"cloudant out","z":"cb286b43.5d79f8","name":"","cloudant":"","database":"train_schedule","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":1600,"y":700,"wires":[]},{"id":"6bab4789.06385","type":"function","z":"cb286b43.5d79f8","name":"seat start number","func":"msg.payload=global.get(\"train_seat_start\");\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":720,"wires":[["91fdb813.ddd67"]]},{"id":"91fdb813.ddd67","type":"debug","z":"cb286b43.5d79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":780,"wires":[]},{"id":"6060bf11.b35a7","type":"function","z":"cb286b43.5d79f8","name":"decrement available seats","func":"var train_coach=global.get(\"train_coach\");\nvar train_seats=global.get(\"train_seats\");\nvar train_seat_start=[];\nfor(i=0;i<train_coach.length;i++)\n{\n    train_seat_start.push(54-msg.payload.AvailableSeats[train_coach[i]-1]+1);\n    msg.payload.AvailableSeats[train_coach[i]-1]-=train_seats[i];\n}\nglobal.set(\"train_seat_start\",train_seat_start);\nglobal.set(\"train_start_time\",msg.payload.Time);\nStops=msg.payload.Stops;\nStops=Stops[0].split(\",\");\nglobal.set(\"train_start_src\",Stops[0]);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":660,"wires":[["6bab4789.06385","d4ec6494.742cb","6d0ccea7.0a1bc"]]},{"id":"cac29670.a224e","type":"ui_template","z":"cb286b43.5d79f8","group":"914ae5af.e7c838","name":"QR Code Generation","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #0094CE;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #33a9d8;\n}\nbody .nr-dashboard-theme ui-card-panel {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":80,"wires":[[]]},{"id":"576321bf.84c1a","type":"ui_template","z":"cb286b43.5d79f8","group":"d13218f8.53b6b8","name":"QRCode","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #0094CE;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #33a9d8;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    background-color: transparent;\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":80,"wires":[[]]},{"id":"7e6794b9.6c5354","type":"ui_button","z":"cb286b43.5d79f8","name":"","group":"d13218f8.53b6b8","order":2,"width":0,"height":0,"passthru":false,"label":"Back To Home Page","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":620,"wires":[["9683c455.21b9f8"]]},{"id":"9683c455.21b9f8","type":"function","z":"cb286b43.5d79f8","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["3b3ce33e.aba32c"]]},{"id":"3b3ce33e.aba32c","type":"ui_ui_control","z":"cb286b43.5d79f8","name":"To Login","events":"all","x":720,"y":620,"wires":[[]]},{"id":"914ae5af.e7c838","type":"ui_group","z":"","name":"QR Code Generation","tab":"bcdfa164.8602e","order":1,"disp":false,"width":"6","collapse":false},{"id":"d13218f8.53b6b8","type":"ui_group","z":"","name":"QRCode","tab":"bcdfa164.8602e","order":2,"disp":false,"width":"5","collapse":false},{"id":"bcdfa164.8602e","type":"ui_tab","z":"","name":"Booking Success","icon":"dashboard","order":12,"disabled":false,"hidden":true}]