Registration,Verification.json
[{"id":"c5df8346.c09c2","type":"tab","label":"Registration, Verification","disabled":false,"info":""},{"id":"612a6740.04a6a8","type":"comment","z":"c5df8346.c09c2","name":"Registration","info":"","x":110,"y":40,"wires":[]},{"id":"83fa5603.1e0a88","type":"cloudant out","z":"c5df8346.c09c2","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","payonly":true,"operation":"insert","x":950,"y":660,"wires":[]},{"id":"f179c221.9242d","type":"function","z":"c5df8346.c09c2","name":"checking codes","func":"if(global.get(\"usercode\")==global.get(\"code\"))\n{\n    global.set(\"verify\",1);\n}\nelse\n{\n    global.set(\"verify\",0);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["75425da3.08f3dc","168b1337.e33515"]]},{"id":"8025d65b.f17d7","type":"function","z":"c5df8346.c09c2","name":"check","func":"var email=global.get(\"email\");\nif(msg.payload===null)\n{\n    global.set(\"flag\",0);\n}\nelse if(msg.payload._id==email)\n{\n    global.set(\"flag\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["6e777d26.19f9bc","9dc94d73.a12d28"]]},{"id":"d62ad9bd.9ddc68","type":"function","z":"c5df8346.c09c2","name":"setting global values","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"password\",msg.payload.password);\nglobal.set(\"f_name\",msg.payload.f_name);\nglobal.set(\"l_name\",msg.payload.l_name);\nglobal.set(\"phone_no\",msg.payload.phone_no);\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":120,"wires":[["193f9cd3.b3e333"]]},{"id":"193f9cd3.b3e333","type":"function","z":"c5df8346.c09c2","name":"checking email from database","func":"var email = global.get(\"email\");\nmsg.payload = {_id:email};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["153a0ae1.669edd"]]},{"id":"153a0ae1.669edd","type":"cloudant in","z":"c5df8346.c09c2","name":"","cloudant":"","database":"user_login","service":"node-red-arceus-cloudant-1592588383886-73041","search":"_id_","design":"","index":"","x":410,"y":140,"wires":[["8025d65b.f17d7"]]},{"id":"447c2efb.6d6828","type":"function","z":"c5df8346.c09c2","name":"registration success","func":"msg.payload=\"Registration Successful! You can now Login.\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":580,"wires":[["9ef6f1b7.742bf","7f00af9a.473448"]]},{"id":"9dc94d73.a12d28","type":"function","z":"c5df8346.c09c2","name":"already registered","func":"var flag=global.get(\"flag\");\nif(flag===1){\n    msg.payload=\"Sorry! This email is already registered. Try logging in.\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["a358c5fc.b7eaf8","7f00af9a.473448"]]},{"id":"7f00af9a.473448","type":"function","z":"c5df8346.c09c2","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["db69faf6.aba07"]]},{"id":"db69faf6.aba07","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":160,"wires":[["67b7dc75.7140ac"]]},{"id":"6e777d26.19f9bc","type":"function","z":"c5df8346.c09c2","name":"verification code","func":"var flag=global.get(\"flag\");\nif(flag===0)\n{\n    var verify=\"\";\n    for(i=0;i<4;i++)\n    {\n        verify+=String(Math.floor(Math.random()*10));\n    }\n    global.set(\"code\",verify);\n    msg.payload=verify;\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["6fa1a4bb.708dfc","5fea407c.efbd58","5ec06db9.fd8824"]]},{"id":"6fa1a4bb.708dfc","type":"function","z":"c5df8346.c09c2","name":"verify message","func":"msg.payload=\"Please Check your Email for the Verification Code. Please Wait till you receive the Code.\";\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["2d327eba.054c6a"]]},{"id":"168b1337.e33515","type":"function","z":"c5df8346.c09c2","name":"wrong verification","func":"if(global.get(\"verify\")===0)\n{\n    msg.payload=\"Invalid Verification Code!\";\n    return msg;\n}","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["b8f3eebf.24e04"]]},{"id":"75425da3.08f3dc","type":"function","z":"c5df8346.c09c2","name":"verified","func":"if(global.get(\"verify\")===1)\n{\n    msg.payload = {\n    _id:global.get(\"email\"),\n    First_name:global.get(\"f_name\"),\n    Last_name:global.get(\"l_name\"),\n    Email:global.get(\"email\"),\n    Password:global.get(\"password\"),\n    Phone_No:global.get(\"phone_no\")\n   };\n   return msg; \n}\n","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["83fa5603.1e0a88","447c2efb.6d6828"]]},{"id":"f0a689c1.5ac13","type":"function","z":"c5df8346.c09c2","name":"tab switch","func":"msg.payload={tab:\"Register\",group:{show:[\"Register_Email_Verification\"],hide:[\"Register_User_Registration\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":340,"wires":[["d71fe474.1c22"]]},{"id":"43120b59.09105c","type":"function","z":"c5df8346.c09c2","name":"global save","func":"global.set(\"usercode\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":560,"wires":[[]]},{"id":"5fea407c.efbd58","type":"function","z":"c5df8346.c09c2","name":"send mail","func":"msg.to=global.get(\"email\");\nmsg.payload=\"Hello \"+global.get(\"f_name\")+\" \"+global.get(\"l_name\")+\"!<br>Thanks for Signing up to E-Rides.\";\nmsg.payload+=\"<br>Please Enter the below 4-digit Code in Web-app to Verify your Email.\";\nmsg.payload+=\"<br><h2 align='center'>\"+global.get(\"code\")+\"</h2><br>Regards,<br>E-Rides\";\nmsg.topic=\"Verify Your Email Address\";\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["70afcdbc.9b369c"]]},{"id":"5ec06db9.fd8824","type":"debug","z":"c5df8346.c09c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"70afcdbc.9b369c","type":"e-mail","z":"c5df8346.c09c2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"verify","x":810,"y":340,"wires":[]},{"id":"46064341.591ba4","type":"ui_button","z":"c5df8346.c09c2","name":"","group":"9aa3b0d7.419ab","order":2,"width":0,"height":0,"passthru":false,"label":"VERIFY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":640,"wires":[["f179c221.9242d","88c8db60.185e2"]]},{"id":"a6ec4fd7.3dc4","type":"ui_text_input","z":"c5df8346.c09c2","name":"","label":"Verification Code","tooltip":"","group":"9aa3b0d7.419ab","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"700","topic":"","x":190,"y":560,"wires":[["46064341.591ba4","43120b59.09105c"]]},{"id":"9ef6f1b7.742bf","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":580,"wires":[[]]},{"id":"a358c5fc.b7eaf8","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":240,"wires":[[]]},{"id":"2d327eba.054c6a","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":790,"y":440,"wires":[[]]},{"id":"b8f3eebf.24e04","type":"ui_toast","z":"c5df8346.c09c2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":720,"wires":[[]]},{"id":"2f749cb4.8f3884","type":"ui_form","z":"c5df8346.c09c2","name":"","label":"","group":"f3dd3303.7cf31","order":1,"width":0,"height":0,"options":[{"label":"First Name ","value":"f_name","type":"text","required":true,"rows":null},{"label":"Last Name","value":"l_name","type":"text","required":true,"rows":null},{"label":"Email Id","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Phone No.","value":"phone_no","type":"number","required":true,"rows":null}],"formValue":{"f_name":"","l_name":"","email":"","password":"","phone_no":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":130,"y":220,"wires":[["43c4ad4b.b4825c","f0a689c1.5ac13","d62ad9bd.9ddc68"]]},{"id":"67b7dc75.7140ac","type":"ui_ui_control","z":"c5df8346.c09c2","name":"To Login","events":"all","x":1180,"y":240,"wires":[[]]},{"id":"d71fe474.1c22","type":"ui_ui_control","z":"c5df8346.c09c2","name":"Verify Email","events":"all","x":190,"y":420,"wires":[[]]},{"id":"88c8db60.185e2","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":740,"wires":[["f24c2d40.a272b8"]]},{"id":"f24c2d40.a272b8","type":"function","z":"c5df8346.c09c2","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":800,"wires":[["a6ec4fd7.3dc4"]]},{"id":"43c4ad4b.b4825c","type":"delay","z":"c5df8346.c09c2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":400,"wires":[["58894c70.46fdb4"]]},{"id":"58894c70.46fdb4","type":"function","z":"c5df8346.c09c2","name":"clear response","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["2f749cb4.8f3884"]]},{"id":"c6ea67d4.0a8b98","type":"ui_template","z":"c5df8346.c09c2","group":"9aa3b0d7.419ab","name":"Email Verification","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":590,"y":900,"wires":[[]]},{"id":"8b141271.658f78","type":"ui_template","z":"c5df8346.c09c2","group":"f3dd3303.7cf31","name":"Registration","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":370,"y":900,"wires":[[]]},{"id":"9aa3b0d7.419ab","type":"ui_group","z":"","name":"Email Verification","tab":"2418f38b.887f8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3dd3303.7cf31","type":"ui_group","z":"","name":"User Registration","tab":"2418f38b.887f8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2418f38b.887f8c","type":"ui_tab","z":"","name":"Register","icon":"dashboard","order":2,"disabled":false,"hidden":true}]