Symptom-Checker,Payment.json
[{"id":"f613400a.c17df","type":"tab","label":"Symptom-Checker, Payment","disabled":false,"info":""},{"id":"380841d7.73a76e","type":"watson-conversation-v1","z":"f613400a.c17df","name":"","workspaceid":"c0085ef9-87d9-4b4d-ac1e-cb05a65cee7e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f5d4efb1-c39e-4d1d-adcd-d30ac4148ac7","timeout":"","optout-learning":false,"x":380,"y":160,"wires":[["9df6c7c7.ea3e48"]]},{"id":"8e61a8b2.af245","type":"function","z":"f613400a.c17df","name":"global retrieve","func":"msg.payload=global.get(\"reply\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["380841d7.73a76e"]]},{"id":"9df6c7c7.ea3e48","type":"function","z":"f613400a.c17df","name":"output","func":"msg.payload = msg.payload.output.text[0]\nreturn msg","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["d2ca09c2.e6c3","358ebbe9.d09814","4ae72b26.412af4","4ec4fe94.4692a8"]]},{"id":"4ec4fe94.4692a8","type":"function","z":"f613400a.c17df","name":"tab switch","func":"if(msg.payload==\"You are at very low risk.\")\n{\n    global.set(\"color\",\"green\");\n    msg.payload={tab:'Payment'};\n    return msg;\n}\nelse if(msg.payload==\"You are at medium risk\")\n{\n    global.set(\"color\",\"yellow\");\n    msg.payload={tab:'Payment'};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["e6a44340.e4e738","2f3b2bc6.12020c"]]},{"id":"f4052809.39b098","type":"function","z":"f613400a.c17df","name":"global save","func":"global.set(\"reply\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[[]]},{"id":"e6a44340.e4e738","type":"delay","z":"f613400a.c17df","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":100,"wires":[["40f167b8.f17e98","f1073602.b0e11"]]},{"id":"358ebbe9.d09814","type":"debug","z":"f613400a.c17df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"2f3b2bc6.12020c","type":"function","z":"f613400a.c17df","name":"globally get amount","func":"var transport=global.get(\"transport\");\nif(transport=='Bus')\n{\n    msg.payload=\"Rs. \"+global.get(\"bus_amount\");\n}\nelse if(transport=='Train')\n{\n    msg.payload=\"Rs. \"+global.get(\"train_amount\");\n}\nif(transport=='Metro')\n{\n    msg.payload=\"Rs. \"+global.get(\"metro_amount\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["901957f5.eb51b8","f5d3ab57.ebb3f"]]},{"id":"bb90c22f.08da18","type":"function","z":"f613400a.c17df","name":"tab switch","func":"msg.payload={tab:'Booking Success',group:{hide:[\"Booking_Success_QRCode\"],show:[\"Booking_Success_QR_Code_Generation\"]}};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":620,"wires":[["95e3004d.5c6f08"]]},{"id":"781d21d1.3dc77","type":"comment","z":"f613400a.c17df","name":"Payment","info":"","x":120,"y":400,"wires":[]},{"id":"40b05691.1505a8","type":"comment","z":"f613400a.c17df","name":"Symptom-Checker","info":"","x":130,"y":60,"wires":[]},{"id":"901957f5.eb51b8","type":"debug","z":"f613400a.c17df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":440,"wires":[]},{"id":"fc381e3c.0cfd8","type":"ui_button","z":"f613400a.c17df","name":"","group":"929b4173.d215c8","order":3,"width":0,"height":0,"passthru":false,"label":"SEND REPLY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":240,"wires":[["8e61a8b2.af245"]]},{"id":"5e940f5c.be6ae","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":2,"width":0,"height":0,"passthru":false,"label":"Credit Card","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":540,"wires":[["bb90c22f.08da18"]]},{"id":"773b4664.d072c","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":3,"width":0,"height":0,"passthru":false,"label":"Debit Card","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":620,"wires":[["bb90c22f.08da18"]]},{"id":"10b8b28a.92fe7d","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":4,"width":0,"height":0,"passthru":false,"label":"Net Banking","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":700,"wires":[["bb90c22f.08da18"]]},{"id":"543fb280.c26eac","type":"ui_button","z":"f613400a.c17df","name":"","group":"9cb169ac.facb2","order":5,"width":0,"height":0,"passthru":false,"label":"Pass","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":780,"wires":[["bb90c22f.08da18"]]},{"id":"aca2d5a7.1b33c8","type":"ui_text_input","z":"f613400a.c17df","name":"","label":"Enter your reply","tooltip":"","group":"929b4173.d215c8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":120,"y":160,"wires":[["fc381e3c.0cfd8","f4052809.39b098"]]},{"id":"d2ca09c2.e6c3","type":"ui_text","z":"f613400a.c17df","group":"929b4173.d215c8","order":1,"width":"6","height":"2","name":"Response","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":240,"wires":[]},{"id":"6c28a4fd.0e9f64","type":"ui_text","z":"f613400a.c17df","group":"9cb169ac.facb2","order":1,"width":0,"height":0,"name":"","label":"Amount To Be Paid: ","format":"{{msg.payload}}","layout":"row-center","x":680,"y":800,"wires":[]},{"id":"f1073602.b0e11","type":"ui_ui_control","z":"f613400a.c17df","name":"To Payment","events":"all","x":1050,"y":180,"wires":[[]]},{"id":"95e3004d.5c6f08","type":"ui_ui_control","z":"f613400a.c17df","name":"To QR Generation","events":"all","x":670,"y":620,"wires":[[]]},{"id":"40f167b8.f17e98","type":"function","z":"f613400a.c17df","name":" clear conversation","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":40,"wires":[["d2ca09c2.e6c3","aca2d5a7.1b33c8"]]},{"id":"d0d42f84.10939","type":"ui_template","z":"f613400a.c17df","group":"929b4173.d215c8","name":"Corona Symptom-Checker","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1040,"y":620,"wires":[[]]},{"id":"d6765584.1719f","type":"ui_template","z":"f613400a.c17df","group":"9cb169ac.facb2","name":"Payment","order":4,"width":"0","height":"0","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(-45deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-content {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme md-sidenav {\n    background-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":680,"wires":[[]]},{"id":"827b6b20.b347e","type":"link in","z":"f613400a.c17df","name":"","links":["4267afcc.417ba8","f5d3ab57.ebb3f"],"x":460,"y":800,"wires":[["6c28a4fd.0e9f64"]]},{"id":"f5d3ab57.ebb3f","type":"link out","z":"f613400a.c17df","name":"Amount","links":["827b6b20.b347e"],"x":655,"y":360,"wires":[]},{"id":"4ae72b26.412af4","type":"function","z":"f613400a.c17df","name":"high risk user","func":"if(msg.payload==\"You are at high risk\")\n{\n    msg.payload=\"High Risk Detected. Sorry, we cannot allow you for booking\"\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["c1d8080d.666fd","5df207b1.4dc24"]]},{"id":"5df207b1.4dc24","type":"function","z":"f613400a.c17df","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["b6887ed.ed588"]]},{"id":"c1d8080d.666fd","type":"ui_toast","z":"f613400a.c17df","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1050,"y":280,"wires":[[]]},{"id":"b6887ed.ed588","type":"ui_ui_control","z":"f613400a.c17df","name":"To Login","events":"all","x":1200,"y":340,"wires":[[]]},{"id":"929b4173.d215c8","type":"ui_group","z":"","name":"Self-Assessment","tab":"3bf3b4f3.5cd734","order":1,"disp":true,"width":"6","collapse":false},{"id":"9cb169ac.facb2","type":"ui_group","z":"","name":"Choose Payment Method","tab":"3daabec8.97f4b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"3bf3b4f3.5cd734","type":"ui_tab","z":"","name":"Corona Symptom-Checker","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"3daabec8.97f4b2","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","order":11,"disabled":false,"hidden":true}]