Symptom Checker for more than 1 person.json
[{"id":"5aacb45.4eda34c","type":"tab","label":"Symptom-Checker for >1 Passengers,Result of Assessment","disabled":false,"info":""},{"id":"c5323da3.2af22","type":"ui_template","z":"5aacb45.4eda34c","group":"2d1a9f93.938ba","name":"","order":0,"width":"23","height":"9","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(90deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    border-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n*{\n    letter-spacing: 0.05em;\n}\ntd,th {\n    padding:5px;\n}\ntr:hover {background-color:#f5f5f5;}\nth{\n    background-color: skyblue;\n}\ntr{\n    background-color: lightyellow;\n}\nform {\n    word-spacing: 10px;\n}\n#t1 {\n    width: 100%;\n    text-align: center;\n}\n#t2 {\n    width: 50%;\n    text-align: center;\n}\n</style>\n<table>\n    <tr>\n        <th align=\"center\">Passenger Number</th>\n        <th align=\"center\">Enter your Name</th>\n        <th align=\"center\" style=\"width: 90px\">Select your Gender</th>\n        <th align=\"center\">Enter your Age</th>\n        <th align=\"center\">Are you experiencing any of the following symptoms? Cough/Fever/Difficulty in Breathing</th>\n        <th align=\"center\">Have you ever had any one of the following: Diabetes/Hypertension/Lung disease/Heart disease</th>\n        <th align=\"center\">Have you travelled anywhere internationally in the last 14 days?</th>\n        <th align=\"center\">Have you recently interacted or lived with someone who has tested positive for COVID-19?</th>\n        <th align=\"center\">Click To Save Passenger Information</th>\n    </tr>\n    <tr ng-repeat=\"n in range1(msg.payload) track by $index\">\n        <td align=\"center\">{{$index+1}}</td>\n        <td align=\"center\"><input ng-model=\"name\" id=\"t1\" type=\"text\"></td>\n        <td><form><input type=\"radio\" ng-model=\"gender\" value=\"male\">Male\n                                <input type=\"radio\" ng-model=\"gender\" value=\"female\">Female\n                                <input type=\"radio\" ng-model=\"gender\" value=\"other\">Other</form></td>\n        <td align=\"center\"><input ng-model=\"age\"  id=\"t2\"  type=\"text\"></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn1\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn1\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn2\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn2\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn3\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn3\" value=\"n\">No</form></td>\n        <td align=\"center\"><form><input type=\"radio\" ng-model=\"yn4\" value=\"y\">Yes<input type=\"radio\" ng-model=\"yn4\" value=\"n\">No</form></td>\n        <td align=\"center\"><md-button ng-click=\"send({payload:sendinfo($index,name,gender,age,yn1,yn2,yn3,yn4)})\">Save</md-button></td>\n    </tr>\n</table>\n<script>\n    ;(function(scope) {\n        scope.$watch('msg.payload', function() {\n            scope.range1=function(num){\n                output=[]\n                for(i=0;i<num;i++)\n                {\n                    output.push(i);\n                }\n                return output;\n            }\n            scope.sendinfo=function(index,name,gender,age,q1,q2,q3,q4)\n            {\n                return {\"Index\":index,\"Name\":name,\"Gender\":gender,\"Age\":age,\"Q1\":q1,\"Q2\":q2,\"Q3\":q3,\"Q4\":q4};\n            }\n        })\n    })(scope)\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":220,"y":200,"wires":[["34976f65.d90528","82e4d91a.59d128"]]},{"id":"34976f65.d90528","type":"function","z":"5aacb45.4eda34c","name":"info missing","func":"if(!msg.payload.Name || !msg.payload.Gender || !msg.payload.Age || !msg.payload.Q1 || !msg.payload.Q2 || !msg.payload.Q3 || !msg.payload.Q4)\n{\n    msg.payload=\"Please Enter All The Required Details For Passenger \"+(msg.payload.Index+1);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["afc1d0ef.886c8"]]},{"id":"29848d7b.54ccc2","type":"link in","z":"5aacb45.4eda34c","name":"","links":["c46eb8c2.df746"],"x":60,"y":200,"wires":[["c5323da3.2af22"]]},{"id":"afc1d0ef.886c8","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":200,"wires":[[]]},{"id":"82e4d91a.59d128","type":"function","z":"5aacb45.4eda34c","name":"info correct","func":"if(msg.payload.Name && msg.payload.Gender && msg.payload.Age && msg.payload.Q1 && msg.payload.Q2 && msg.payload.Q3 && msg.payload.Q4)\n{\n    str1=\"P\"+(msg.payload.Index+1)+\"Info\"\n    if(global.get(str1)===\"\")\n    {\n        global.set(str1,msg.payload);\n        count=global.get(\"info_count\")\n        global.set(\"info_count\",count+1)\n    }\n    else\n    {\n        record=global.get(str1)\n        if((record.Name!=msg.payload.Name)||(record.Gender!=msg.payload.Gender)||(record.Age!=msg.payload.Age)||(record.Q1!=msg.payload.Q1)||(record.Q2!=msg.payload.Q2)||(record.Q3!=msg.payload.Q3)||(record.Q4!=msg.payload.Q4))\n        {\n            global.set(str1,msg.payload);\n        }\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["760571a3.921238","1a32f228.c13afe","53d6b527.8333f4"]]},{"id":"b22a65fe.ea2078","type":"function","z":"5aacb45.4eda34c","name":"checking info count","func":"if(global.get(\"info_count\")==global.get(\"npeople\"))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":810,"y":100,"wires":[["7258dd2a.002e9c","7be79474.dab88c"]]},{"id":"8fa56294.29f3b","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:'Payment'};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["307c24dc.f256b4","b5515a24.57b61"]]},{"id":"307c24dc.f256b4","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":420,"wires":[["7bc84668.8210d"]]},{"id":"7bc84668.8210d","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Payment","events":"all","x":790,"y":420,"wires":[[]]},{"id":"b5515a24.57b61","type":"function","z":"5aacb45.4eda34c","name":"globally get amount","func":"var transport=global.get(\"transport\");\nif(transport=='Bus')\n{\n    msg.payload=\"Rs. \"+global.get(\"bus_amount\");\n}\nelse if(transport=='Train')\n{\n    msg.payload=\"Rs. \"+global.get(\"train_amount\");\n}\nif(transport=='Metro')\n{\n    msg.payload=\"Rs. \"+global.get(\"metro_amount\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["6bf08cc6.28114c","4267afcc.417ba8"]]},{"id":"6bf08cc6.28114c","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":600,"wires":[]},{"id":"4267afcc.417ba8","type":"link out","z":"5aacb45.4eda34c","name":"Amount","links":["827b6b20.b347e"],"x":575,"y":520,"wires":[]},{"id":"7258dd2a.002e9c","type":"function","z":"5aacb45.4eda34c","name":"retrieving info","func":"p=[]\nfor(i=0;i<global.get(\"npeople\");i++)\n{\n    str=\"P\"+(i+1)+\"Info\";\n    record=global.get(str);\n    p.push(record);\n}\nmsg.payload=p;\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":120,"wires":[["9fe2e585.b5dcd"]]},{"id":"9fe2e585.b5dcd","type":"function","z":"5aacb45.4eda34c","name":"symptom-checking","func":"for(i=0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].Q1=='n' && msg.payload[i].Q2=='n' && msg.payload[i].Q3=='n' && msg.payload[i].Q4=='n')\n    {\n        msg.payload[i].Risk=\"Low Risk\";\n    }\n    else if((msg.payload[i].Q1=='n'&&msg.payload[i].Q2=='n'&&msg.payload[i].Q3=='n')||\n    (msg.payload[i].Q1=='n'&&msg.payload[i].Q2=='n'&&msg.payload[i].Q4=='n')||\n    (msg.payload[i].Q2=='n'&&msg.payload[i].Q3=='n'&&msg.payload[i].Q4=='n')||\n    (msg.payload[i].Q1=='n'&&msg.payload[i].Q3=='n'&&msg.payload[i].Q4=='n'))\n    {\n        msg.payload[i].Risk=\"Medium Risk\";\n    }\n    else\n    {\n        msg.payload[i].Risk=\"High Risk\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["f1e8cc28.eb4ba","307deeb0.1c910a","4b28dac7.78bbfc"]]},{"id":"f1e8cc28.eb4ba","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:\"Assessment Result\"}\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":160,"wires":[["7093b104.0d679"]]},{"id":"307deeb0.1c910a","type":"ui_template","z":"5aacb45.4eda34c","group":"17d286a.57e0e79","name":"","order":0,"width":"9","height":"4","format":"<style>\nbody.nr-dashboard-theme {  \n\tmargin: 0;\n\twidth: 100%;\n\theight: 100vh;\n\tfont-family: \"Exo\", sans-serif;\n\tcolor: #fff;\n\tbackground: linear-gradient(90deg, rgba(45,112,150,1) 0%, rgba(129,204,89,1) 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientBG 15s ease infinite;\n}\nbody.nr-dashboard-theme md-toolbar {\n    background-color: transparent;\n}\nbody.nr-dashboard-theme ui-card-panel {\n    border-color: transparent;\n}\nbody.nr-dashboard-theme .nr-dashboard-button .md-button {\n    border-color: transparent;\n}\n@keyframes gradientBG {\n\t0% {\n\t\tbackground-position: 0% 50%;\n\t}\n\t50% {\n\t\tbackground-position: 100% 50%;\n\t}\n\t100% {\n\t\tbackground-position: 0% 50%;\n\t}\n}\n*{\n    letter-spacing: 0.05em;\n}\ntd,th {\n    padding:5px;\n}\ntr:hover {background-color:#f5f5f5;}\nth{\n    background-color: skyblue;\n}\ntr{\n    background-color: lightyellow;\n    height: 37px;\n}\ntable {\n    word-spacing: 1px;\n    width: 100%;\n}\n</style>\n<table>\n    <tr>\n        <th align=\"center\">Passenger Number</th>\n        <th align=\"center\">Name</th>\n        <th align=\"center\">Gender</th>\n        <th align=\"center\">Age</th>\n        <th align=\"center\">Risk</th>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\">\n        <td align=\"center\">{{obj.Index+1}}</td>\n        <td align=\"center\">{{obj.Name}}</td>\n        <td align=\"center\">{{obj.Gender}}</td>\n        <td align=\"center\">{{obj.Age}}</td>\n        <td align=\"center\">{{obj.Risk}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":200,"wires":[[]]},{"id":"7093b104.0d679","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Assessment Result","events":"all","x":1380,"y":100,"wires":[[]]},{"id":"ff62fd09.196e28","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":360,"wires":[["8fa56294.29f3b"]]},{"id":"760571a3.921238","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":60,"wires":[]},{"id":"7be79474.dab88c","type":"debug","z":"5aacb45.4eda34c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":60,"wires":[]},{"id":"c69e5e1b.a5edd8","type":"function","z":"5aacb45.4eda34c","name":"save risk details","func":"if(msg.payload!=\"High Risk\")\n{\n    risk=[]\n    for(i=0;i<msg.payload.length;i++)\n    {\n        if(msg.payload[i].Risk=='Low Risk')\n        {\n            risk.push(\"green\");\n        }\n        else if(msg.payload[i].Risk=='Medium Risk')\n        {\n            risk.push(\"yellow\");\n        }\n    }\n    global.set(\"color\",risk);\n    return msg;\n}","outputs":1,"noerr":0,"x":1320,"y":280,"wires":[["49a9c729.f04988","ff62fd09.196e28"]]},{"id":"4b28dac7.78bbfc","type":"function","z":"5aacb45.4eda34c","name":"check risk","func":"for(i=0;i<msg.payload.length;i++)\n{\n    if(msg.payload[i].Risk=='High Risk')\n    {\n        msg.payload=\"High Risk\";\n        return msg;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":260,"wires":[["c69e5e1b.a5edd8","92e52a7e.debcf8"]]},{"id":"21d60e74.5f89c2","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1150,"y":560,"wires":[[]]},{"id":"a35e580b.1f6dc8","type":"function","z":"5aacb45.4eda34c","name":"to payment","func":"msg.payload=\"Redirecting to Payment\";\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":480,"wires":[["21d60e74.5f89c2"]]},{"id":"49a9c729.f04988","type":"delay","z":"5aacb45.4eda34c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":420,"wires":[["a35e580b.1f6dc8"]]},{"id":"92e52a7e.debcf8","type":"function","z":"5aacb45.4eda34c","name":"high risk user/s","func":"if(msg.payload==\"High Risk\")\n{\n    msg.payload=\"High Risk Detected. Sorry, we cannot allow you for booking\"\n    return msg;\n}","outputs":1,"noerr":0,"x":1360,"y":220,"wires":[["85190dbf.5a4c18","57e0dcd6.14479c"]]},{"id":"57e0dcd6.14479c","type":"function","z":"5aacb45.4eda34c","name":"tab switch","func":"msg.payload={tab:\"Login\"};\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":240,"wires":[["b81442e3.d91f3"]]},{"id":"85190dbf.5a4c18","type":"ui_toast","z":"5aacb45.4eda34c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1610,"y":180,"wires":[[]]},{"id":"b81442e3.d91f3","type":"ui_ui_control","z":"5aacb45.4eda34c","name":"To Login","events":"all","x":1800,"y":240,"wires":[[]]},{"id":"1a32f228.c13afe","type":"function","z":"5aacb45.4eda34c","name":"incorrect value","func":"if(msg.payload.Age<=0)\n{\n    msg.payload=\"Please Enter Correct Age\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["afc1d0ef.886c8"]]},{"id":"53d6b527.8333f4","type":"function","z":"5aacb45.4eda34c","name":"correct value","func":"if(msg.payload.Age>0)\n{\n    msg.payload=\"Passenger \"+(msg.payload.Index+1)+\" Details Saved Successfully\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["b22a65fe.ea2078","afc1d0ef.886c8"]]},{"id":"2d1a9f93.938ba","type":"ui_group","z":"","name":"Assessment","tab":"a0e7a4c1.f8e0a8","order":1,"disp":false,"width":"23","collapse":false},{"id":"17d286a.57e0e79","type":"ui_group","z":"","name":"Result","tab":"a11a2907.8c0f1","order":1,"disp":false,"width":"9","collapse":false},{"id":"a0e7a4c1.f8e0a8","type":"ui_tab","z":"","name":"Symptom-Checker","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"a11a2907.8c0f1","type":"ui_tab","z":"","name":"Assessment Result","icon":"dashboard","order":10,"disabled":false,"hidden":true}]